Flask
Flask-Cors
geopy
tqdm
pytesseract
requests
beautifulsoup4
Pillow

chromadb 
sentence-transformers
groq
=======
crawl4ai
chromadb 
sentence-transformers
aiofiles 
pydantic
python-dotenv
tiktoken
nltk
transformers 
torch
groq

